.wrapSec02 {
    width: 100%;
    max-width: 1320px;
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    max-height: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    overflow: hidden;
    position: relative;
    background-color: var(--green01);
    border-radius: 32px;
    background-image: url("/medias/sec02-bg.svg");
    background-position: center center;
    background-size: cover;
}

.divLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 3;

    p{
        font-size: 1.25rem;
        color: var(--whiteXeque);
        font-family: "Inter";
        font-weight: 300;
    }

    h1 {
        font-family: "Passion One";
        color: var(--yellow01);
        font-size: 3.25rem;
        text-transform: uppercase;
        line-height: 2.6rem;

        span {
            color: var(--yellow01);
        }
    }
}

.subTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    font-size: 0.6rem;
    padding: 12px 20px;
    border-radius: 5000px;
}

.divRight {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    z-index: 3;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-direction: row;
    padding: 1px;
    border-radius: 5000px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
    background: var(--border-color01);
    transition: all .6s ease;
    cursor: pointer;
    color: var(--background);

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 8px;
        padding-left: 16px;
        gap: 10px;
        background-color: #12381A;
        border-radius: 5000px;
        text-wrap: nowrap;
    }
}

.iconWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 5000px;
    background-color: var(--background);
    overflow: hidden;

    img{
        position: absolute;
        top: 50%;
        transform: translate(-42%, -50%);
        transition: all .4s ease;
    }
}

.button:hover .iconWrap img{
    transform: translate(46%, -50%);
    transition: all .4s ease;
}

.button:hover{
    transform: translateX(8px) scale(1.02);
    transition: all .4s ease;
}

@media (max-width:767px){
    .content {
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        gap: 42px;
    }

    .divLeft {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p{
            font-size: 1.12rem;
            text-align: center;
        }
    
        h1 {
            font-size: 2.4rem;
            line-height: 2.6rem;
            text-align: center;
    
            span {
                color: var(--yellow01);
            }
        }
    }

    .divRight {
        width: 100%;

        img{
            width: 100%;
        }
    }

}