.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter";
  background-color: var(--background);
  width: 100%;
  gap: 60px;
  padding: 20px;
}

@media (max-width:1024px){
  .page {
    padding: 12px;
  }
}